@tailwind base;
@tailwind components;
@tailwind utilities;

.cl-internal-b3fm6y {
  background-color: #dc4405;
  opacity: 0;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-40%);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition:
    opacity 250ms ease-out,
    transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateX(-20%);
  transition:
    opacity 250ms ease-out,
    transform 300ms ease;
}
